<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container mt-3">
    <div class="col-md-6 offset-md-3">
        <img src="/logo.jpg" class="rounded mx-auto d-block" width="404">
        <h2>Конвертер накладных продажи и хранения</h2>
        <small>Выберите .xls или .xlsx файл (можно несколько). Нажмите на кнопку "Получить xml-файл" для обработки файлов. После этого
            начнется скачивание сгенерированного файла "sell_doc_{n}_total.xml" или "storage_doc_{n}_total.xml", где n - число обработанных документов</small>
        <hr>
        <form method="POST" enctype="multipart/form-data" action="/process_sell_document">
            <p class="font-weight-bold">Файлы накладных продажи:</p>
            <div class="custom-file mb-1">
                <input type="file" class="custom-file-input" id="sellFile" name="files[]" multiple/>
                <label class="custom-file-label" for="sellFile">Выбрать накладную</label>
            </div>

            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Получить xml-файл</button>
            </div>
        </form>
        <hr>
        <form method="POST" enctype="multipart/form-data" action="/process_storage_document">
            <p class="font-weight-bold">Файлы накладных хранения:</p>
            <div class="custom-file mb-1">
                <input type="file" class="custom-file-input" id="storageFile" name="files[]" multiple/>
                <label class="custom-file-label" for="storageFile">Выбрать накладную</label>
            </div>

            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Получить xml-файл</button>
            </div>
        </form>
    </div>
</div>

<script>
    $("#sellFile").on("change", function () {
        var files = [];
        for (var i = 0; i < $(this)[0].files.length; i++) {
            files.push($(this)[0].files[i].name);
        }
        $(this).next('.custom-file-label').html(files.join(', '));
    });

    $("#storageFile").on("change", function () {
        var files = [];
        for (var i = 0; i < $(this)[0].files.length; i++) {
            files.push($(this)[0].files[i].name);
        }
        $(this).next('.custom-file-label').html(files.join(', '));
    });
</script>

</body>
</html>